
{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item ps-3">
          <a class="nav-link" aria-current="page" href="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/food/">Вся еда</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'django_registration_register' %}">Регистрация</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
        </li>
        {% endif %}

{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<h1 class="mt-5 p-3">Страница входа</h1>

<form method="post">
        <div class="row mt-3">
            <div class="col mt-4">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary" value="Sign up">Submit</button>
                </div>
            </div>
        </div>
</form>
{% endblock %}