{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row"> </div>
    <div align="center" class="row mt-4 mb-3">
      <h1>Создание жалобы</h1>
    </div>
</div>

<form action="{% url 'complaint_list' %}" method="POST">
  {% csrf_token %}
  <div class="container text-center">
    <div class="btn-group-vertical">

      <div class="container text-center">
        Выберите один из вариантов
      </div>

      <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="Ложная информация">
        <label class="btn btn-outline-primary" for="btnradio1">Ложная информация</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="Спам">
        <label class="btn btn-outline-primary" for="btnradio2">Спам</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="Реклама товара">
        <label class="btn btn-outline-primary" for="btnradio3">Реклама товара</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" value="Обман">
        <label class="btn btn-outline-primary" for="btnradio4">Обман</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" value="Нарушение интеллектуальных прав">
        <label class="btn btn-outline-primary" for="btnradio5">Нарушение интеллектуальных прав</label>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Отправить</button>
    </div>
  </div>
</form>

{% endblock %}