
{% extends 'base.html' %}

{% block content %}
<style>
  .list_item {
        margin-top: 5px;
        padding: 5px;
      }
  a {
        text-decoration: none;
        color: black;
        font-size: 25px;
      }
</style>

    <div class="col text-center p-2">
       <p>Все не проверенные жалобы</p>
      {% for complaint in not_checked_complaints %}
              {{ complaint }}
      {% endfor %}
    </div>

<cd>
    .
    .
    .

</cd>
    <div class="col text-center p-2">
       <p>Все жалобы</p>
      {% for complaint in all_complaints %}
              {{ complaint }}
      {% endfor %}
    </div>

{% endblock %}