
{% extends 'base.html' %}

{% block content %}
<style>
  .list_item {
        margin-top: 5px;
        padding: 5px;
      }
  a {
        text-decoration: none;
        color: black;
        font-size: 25px;
      }
</style>
    <div class="row row-cols-3 mt-3" >
      {% for food in food %}
      <div class="col text-center p-2">
          <a href="/food_item/?id={{food.id}}" class="card"  style="border-radius: 10px;">
            <div class="card-body">
              <img src="https://goo.su/swyUm5" class="img-fluid" style="border-radius: 10px;" alt="...">
              <a href="{% url 'complaint_add' %}" class="btn btn-primary">Жалоба</a>
              <p class="card-text pt-3">{{ food.name }}</p>
            </div>
          </a>
      </div>
    {% endfor %}

  </div>

{% endblock %}