
{% extends 'base.html' %}

{% block content %}

<div class="">
    {% if user.is_authenticated %}
    <div>Привет, {{user.username}}!</div>
    {% else %}
    <div>Привет, Анонимус!</div>
    {% endif %}
    <div class="d-flex justify-content-center">
         <form class="row g-3">
            <div class="col-auto">
                <input class="form-control" placeholder="Введите фрукт...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">фруктовый ввод...</button>
            </div>
         </form>
        </div>
    </div>

{% endblock %}