{% extends 'base.html' %}

{% block content %}
<style>
  .list_item {
        margin-top: 5px;
        padding: 5px;
      }
  a {
        text-decoration: none;
        color: black;
        font-size: 25px;
      }
</style>

    <div class="mt-4 text-center">
        <h2>
            Здесь будут отображаться избранные вами фрукты!
        </h2>
    </div>


    <div class="row row-cols-3 mt-4" >
    {% for item in liked %}

        <div class="col text-center p-2">
            <a href="/food_item/?id={{ item.fruit.id }}" class="card"  style="border-radius: 10px;">
                <div class="card-body">
                  <img src="https://goo.su/swyUm5" class="img-fluid" style="border-radius: 10px;" alt="...">
                  <p class="card-text pt-3">{{ item.fruit.name }}</p>
                </div>
            </a>
        </div>

    {% endfor %}
    </div>

    <div class="mt-4 text-center">
        <h2>
            Ваше питание:
        </h2>
        </button>
    </div>


    <div class="col text-center p-2">
        <table class="table table-bordered border-dark">
            <tbody>
                <tr>
                  <th>Завтрак <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Добавить
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Яблоко</a></li>
                          </ul>
                      </div>
                  </th>
                  <td>Mark</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                  <th>Обед</th>
                  <td>Mark</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                  <th>Ужин</th>
                  <td>Mark</td>
                </tr>
            </tbody>
        </table>
    </div>




{% endblock %}