<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .profile {
        color: white;
        justify-self: right;
        display: flex;
        gap: 10px;
        }
        .ava{
        height: 20px;
        width: 20px;
        border-radius: 10px;
        margin-top: 2px;
        margin-right: 10px;
        }
        nav{
            background: #22742b;
        }
    </style>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark">

    <div class="collapse navbar-collapse justify-content-left">
      <ul class="navbar-nav mb-2 mb-lg-0">

          {% if request.get_full_path == '/' %}
            <li class="nav-item ps-3">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
          {% else %}
            <li class="nav-item ps-3">
                <a class="nav-link" aria-current="page" href="/">Главная</a>
            </li>
          {% endif %}
          {% if request.get_full_path == '/food/' %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/food/">Вся еда</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/food/">Вся еда</a>
            </li>
          {% endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'like_page' %}">Избранное</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Выйти</a>
         </li>
         {% else %}

          {% if request.get_full_path == '/accounts/register/' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'django_registration_register' %}">Регистрация</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'django_registration_register' %}">Регистрация</a>
          </li>
          {% endif %}

          {% if request.get_full_path == '/accounts/login/' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'login' %}">Войти</a>
          </li>
          {% endif %}

          {% endif %}

      </ul>
    </div>
     <div class = "profile">
        <a class="nav-link active" aria-current="page" href="profile/page.html">Профиль</a>
         <img class = "ava" src="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAHwAugMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAAAQIDB//EABsQAQEBAAIDAAAAAAAAAAAAAAABEQJhITFB/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/APYooSAYsimALFxZATCRrFBnDGgEwxQEwxTAZwxoBhMbSgyLiWAgFBmxlsyASKLAFIsAUUAFAAAAAAAABCqAyljSUGWW2aCCp5AajMagKsIoCgAAAAAAAUKAAAAAipQRK0lBhGrEAjTMaBVRQUAAAAAAAAAAAAABFSgIqAzUWoBGmI3AVUUFEUAAAAAAAAAAAABKqAIrIJUWoCRqMasoNrGZVgNKyoKIAoigAAAAAACACBQEpWbQKggMytRhZQb1qVz1qUG11iVrQVWdUFEAUQBRAFEAVNE0FTUqaC2s1LUtBbU1DewZlVz41uAqoQG5V1ggOmmsT2toN6usfAG9NZ00GtNZ1NBrTWdNBbU1LU0GtZQAEAKicqYD/9k=">
        </div>
</nav>
</body>
</html>