<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse justify-content-left">
      <ul class="navbar-nav mb-2 mb-lg-0">

          {% if request.get_full_path == '/' %}
            <li class="nav-item ps-3">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
          {% else %}
            <li class="nav-item ps-3">
                <a class="nav-link" aria-current="page" href="/">Главная</a>
            </li>
          {% endif %}

          {% if request.get_full_path == '/food/' %}
            <li class="nav-item ps-3">
                <a class="nav-link active" aria-current="page" href="/food/">Вся еда</a>
            </li>
          {% else %}
            <li class="nav-item ps-3">
                <a class="nav-link" aria-current="page" href="/food/">Вся еда</a>
            </li>
          {% endif %}

          {% if request.complaint == '/complaint_list/' %}
            <li class="nav-item ps-3">
                <a class="nav-link active" aria-current="page" href="{% url 'complaint_list' %}">Жалобы</a>
            </li>
          {% else %}
            <li class="nav-item ps-3">
                <a class="nav-link" aria-current="page" href="{% url 'complaint_list' %}">Жалобы</a>
            </li>
          {% endif %}

          {% if user.is_authenticated %}
         <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Выйти</a>
         </li>
         {% else %}

          {% if request.get_full_path == '/accounts/register/' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'django_registration_register' %}">Регистрация</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'django_registration_register' %}">Регистрация</a>
          </li>
          {% endif %}

          {% if request.get_full_path == '/accounts/login/' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'login' %}">Войти</a>
          </li>
          {% endif %}

          {% endif %}

      </ul>
    </div>
  </div>
</nav>
</body>
</html>